.Home__play-button {
	width: 160px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-block: 58px;
	background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
	box-shadow: inset 0px -4px 0px 5px var(--dark), inset 0px -12px 0px 11px #9d2df5;
	border-radius: 50%;
	cursor: pointer;
}

.Home__play-button:active {
	transform: scale(0.95);
}

.Home__play-button:hover {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
		linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
}

.Home__play-button svg {
	width: 52px;
}

.Home__how-to-play-button {
	margin-bottom: 64px;
}

@media (min-width: 768px) {
	.Home__play-button {
		width: 200px;
		height: 200px;
	}

	.Home__play-button svg {
		width: 66px;
	}

	.Home__how-to-play-button {
		margin-bottom: 50px;
	}
}
